.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 245px 0;
  text-align: center;
  text-decoration: none;
  background: url('../../../images/cover-trains.jpg') center / cover no-repeat;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
}
