.cover__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  text-decoration: none;
  background: url('../../../images/cover-trains.jpg') center / cover no-repeat;
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}
