.place__title {
  flex-basis: 460px;
  margin: 0 40px 0 0;
  font-family: 'Inter Black';
  font-size: 72px;
  line-height: 1;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .place__title {
    flex-basis: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    flex-basis: 340px;
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    flex-basis: 100%;
    margin-bottom: 32px;
    font-size: 32px;
  }
}
