.photo-grid {
  padding: 92px 48px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
