.footer__link {
  font-family: 'Inter Regular';
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: opacity 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.footer__link:hover {
  opacity: 0.8;
}
