.place__paragraph {
  margin: 0 0 26px;
  font-family: 'Inter Regular';
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
