.intro {
  padding: 92px 148px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .intro {
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 64px 16px 0;
  }
}
