.lead__subtitle {
  margin: 0;
  max-width: 640px;
  font-family: 'Inter Regular';
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    padding: 0 16px;
    font-size: 16px;
  }
}
