.lead__caption {
  margin-top: 8px;
  text-align-last: left;
  font-family: 'Inter Regular';
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 16px;
  }
}
